/* @font-face {
  font-family: "Geologica";
  src: url("../../fonts/Geologica/Geologica-VariableFont_CRSV,SHRP,slnt,wght.woff2") format("woff2"),
       url("../../fonts/Geologica/Geologica-VariableFont_CRSV,SHRP,slnt,wght.woff") format("woff"),
       url("../../fonts/Geologica/Geologica-VariableFont_CRSV,SHRP,slnt,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.woff2") format("woff2"),
       url("../../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.woff") format("woff"),
       url("../../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  src: url("../../fonts/Cormorant/Cormorant-VariableFont_wght.woff2") format("woff2"),
       url("../../fonts/Cormorant/Cormorant-VariableFont_wght.woff") format("woff"),
       url("../../fonts/Cormorant/Cormorant-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter/Inter-VariableFont_opsz,wght.woff2") format("woff2"),
       url("../../fonts/Inter/Inter-VariableFont_opsz,wght.woff") format("woff"),
       url("../../fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Goldman";
  src: url("../../fonts/Goldman/Goldman-Regular.woff2") format("woff2"),
       url("../../fonts/Goldman/Goldman-Regular.woff") format("woff"),
       url("../../fonts/Goldman/Goldman-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gluten";
  src: url("../../fonts/Gluten/Gluten-VariableFont_slnt,wght.woff2") format("woff2"),
       url("../../fonts/Gluten/Gluten-VariableFont_slnt,wght.woff") format("woff"),
       url("../../fonts/Gluten/Gluten-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Anton SC";
  src: url("../../fonts/Anton_SC/AntonSC-Regular.woff2") format("woff2"),
       url("../../fonts/Anton_SC/AntonSC-Regular.woff") format("woff"),
       url("../../fonts/Anton_SC/AntonSC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Irish Grover";
  src: url("../../fonts/Irish_Grover/IrishGrover-Regular.woff2") format("woff2"),
       url("../../fonts/Irish_Grover/IrishGrover-Regular.woff") format("woff"),
       url("../../fonts/Irish_Grover/IrishGrover-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

/* Geologica */

@font-face {
  font-family: "Geologica";
  src: url("../../fonts/Geologica/Geologica_Regular.woff2") format("woff2"),
    url("../../fonts/Geologica/Geologica_Regular.woff") format("woff"),
    url("../../fonts/Geologica/Geologica_Regular.ttf") format("truetype");
  font-weight: 400;
  /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geologica";
  src: url("../../fonts/Geologica/Geologica_Bold.woff2") format("woff2"),
    url("../../fonts/Geologica/Geologica_Bold.woff") format("woff"),
    url("../../fonts/Geologica/Geologica_Bold.ttf") format("truetype");
  font-weight: 700;
  /* Bold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geologica";
  src: url("../../fonts/Geologica/Geologica_Light.woff2") format("woff2"),
    url("../../fonts/Geologica/Geologica_Light.woff") format("woff"),
    url("../../fonts/Geologica/Geologica_Light.ttf") format("truetype");
  font-weight: 300;
  /* Light */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geologica";
  src: url("../../fonts/Geologica/Geologica_Light_Italic.woff2") format("woff2"),
    url("../../fonts/Geologica/Geologica_Light_Italic.woff") format("woff"),
    url("../../fonts/Geologica/Geologica_Light_Italic.ttf") format("truetype");
  font-weight: 300;
  /* Light */
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Geologica";
  src: url("../../fonts/Geologica/Geologica_ExtraLight.ttf") format("woff2"),
    /* Исправлено: ttf -> woff2 */
    url("../../fonts/Geologica/Geologica_ExtraLight.woff") format("woff"),
    url("../../fonts/Geologica/Geologica_ExtraLight.ttf") format("truetype");
  font-weight: 200;
  /* ExtraLight */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geologica";
  src: url("../../fonts/Geologica/Geologica_Medium.ttf") format("woff2"),
    /* Исправлено: ttf -> woff2 */
    url("../../fonts/Geologica/Geologica_Medium.woff") format("woff"),
    url("../../fonts/Geologica/Geologica_Medium.ttf") format("truetype");
  font-weight: 500;
  /* Medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geologica";
  src: url("../../fonts/Geologica/Geologica_Semibold.ttf") format("woff2"),
    /* Исправлено: ttf -> woff2 */
    url("../../fonts/Geologica/Geologica_Semibold.woff") format("woff"),
    url("../../fonts/Geologica/Geologica_Semibold.ttf") format("truetype");
  font-weight: 600;
  /* Semibold */
  font-style: normal;
  font-display: swap;
}

/* Open Sans */

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/Open_Sans/OpenSans-Regular.woff2") format("woff2"),
    url("../../fonts/Open_Sans/OpenSans-Regular.woff") format("woff"),
    url("../../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/Open_Sans/OpenSans-SemiBold.ttf") format("woff2"),
    /* Исправлено: ttf -> woff2 */
    url("../../fonts/Open_Sans/OpenSans-SemiBold.woff") format("woff"),
    url("../../fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  /* SemiBold */
  font-style: normal;
  font-display: swap;
}

/* Cormorant */

@font-face {
  font-family: "Cormorant";
  src: url("../../fonts/Cormorant/Cormorant_Regular.woff2") format("woff2"),
    url("../../fonts/Cormorant/Cormorant_Regular.woff") format("woff"),
    url("../../fonts/Cormorant/Cormorant_Regular.ttf") format("truetype");
  font-weight: 400;
  /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant";
  src: url("../../fonts/Cormorant/Cormorant_Bold.woff2") format("woff2"),
    url("../../fonts/Cormorant/Cormorant_Bold.woff") format("woff"),
    url("../../fonts/Cormorant/Cormorant_Bold.ttf") format("truetype");
  font-weight: 700;
  /* Bold */
  font-style: normal;
  font-display: swap;
}

/* Inter */

@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter/InterRegular.woff2") format("woff2"),
    url("../../fonts/Inter/InterRegular.woff") format("woff"),
    url("../../fonts/Inter/InterRegular.ttf") format("truetype");
  font-weight: 400;
  /* Regular */
  font-style: normal;
  font-display: swap;
}

/* Montserrat */

@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat_ExtraBold.woff2") format("woff2"),
    url("../../fonts/Montserrat/Montserrat_ExtraBold.woff") format("woff"),
    url("../../fonts/Montserrat/Montserrat_ExtraBold.ttf") format("truetype");
  font-weight: 800;
  /* ExtraBold */
  font-style: normal;
  font-display: swap;
}

/* Bebas Neue */
@font-face {
  font-family: 'Bebas Neue';
  src: url("../../fonts/Bebas_Neue/BebasNeue-Regular.woff2") format('woff2'),
    url("../../fonts/Bebas_Neue/BebasNeue-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}