:root {
  --auto: auto;
  --translate-50-50: translate(-50%, -50%);
  --translate-50-X: translate(-50%, 0);
  --translate-Y-50: translate(0, -50%);
  --boxShadow-px: var(--spacing-px-0) var(--spacing-px-4) var(--spacing-px-4) var(--spacing-px-0)
}

/* ==================== PLUS PX ==================== */
:root {
  --spacing-px-0: 0px;
  --spacing-px-1: 1px;
  --spacing-px-2: 2px;
  --spacing-px-3: 3px;
  --spacing-px-4: 4px;
  --spacing-px-5: 5px;
  --spacing-px-6: 6px;
  --spacing-px-7: 7px;
  --spacing-px-8: 8px;
  --spacing-px-9: 9px;
  --spacing-px-10: 10px;
  --spacing-px-11: 11px;
  --spacing-px-12: 12px;
  --spacing-px-13: 13px;
  --spacing-px-14: 14px;
  --spacing-px-15: 15px;
  --spacing-px-16: 16px;
  --spacing-px-17: 17px;
  --spacing-px-18: 18px;
  --spacing-px-19: 19px;
  --spacing-px-20: 20px;
  --spacing-px-21: 21px;
  --spacing-px-22: 22px;
  --spacing-px-23: 23px;
  --spacing-px-24: 24px;
  --spacing-px-25: 25px;
  --spacing-px-26: 26px;
  --spacing-px-27: 27px;
  --spacing-px-28: 28px;
  --spacing-px-29: 29px;
  --spacing-px-30: 30px;
  --spacing-px-31: 31px;
  --spacing-px-32: 32px;
  --spacing-px-33: 33px;
  --spacing-px-34: 34px;
  --spacing-px-35: 35px;
  --spacing-px-36: 36px;
  --spacing-px-37: 37px;
  --spacing-px-38: 38px;
  --spacing-px-39: 39px;
  --spacing-px-40: 40px;
  --spacing-px-41: 41px;
  --spacing-px-42: 42px;
  --spacing-px-43: 43px;
  --spacing-px-44: 44px;
  --spacing-px-45: 45px;
  --spacing-px-46: 46px;
  --spacing-px-47: 47px;
  --spacing-px-48: 48px;
  --spacing-px-49: 49px;
  --spacing-px-50: 50px;
  --spacing-px-51: 51px;
  --spacing-px-52: 52px;
  --spacing-px-53: 53px;
  --spacing-px-54: 54px;
  --spacing-px-55: 55px;
  --spacing-px-56: 56px;
  --spacing-px-57: 57px;
  --spacing-px-58: 58px;
  --spacing-px-59: 59px;
  --spacing-px-60: 60px;
  --spacing-px-61: 61px;
  --spacing-px-62: 62px;
  --spacing-px-63: 63px;
  --spacing-px-64: 64px;
  --spacing-px-65: 65px;
  --spacing-px-66: 66px;
  --spacing-px-67: 67px;
  --spacing-px-68: 68px;
  --spacing-px-69: 69px;
  --spacing-px-70: 70px;
  --spacing-px-71: 71px;
  --spacing-px-72: 72px;
  --spacing-px-73: 73px;
  --spacing-px-74: 74px;
  --spacing-px-75: 75px;
  --spacing-px-76: 76px;
  --spacing-px-77: 77px;
  --spacing-px-78: 78px;
  --spacing-px-79: 79px;
  --spacing-px-80: 80px;
  --spacing-px-81: 81px;
  --spacing-px-82: 82px;
  --spacing-px-83: 83px;
  --spacing-px-84: 84px;
  --spacing-px-85: 85px;
  --spacing-px-86: 86px;
  --spacing-px-87: 87px;
  --spacing-px-88: 88px;
  --spacing-px-89: 89px;
  --spacing-px-90: 90px;
  --spacing-px-91: 91px;
  --spacing-px-92: 92px;
  --spacing-px-93: 93px;
  --spacing-px-94: 94px;
  --spacing-px-95: 95px;
  --spacing-px-96: 96px;
  --spacing-px-97: 97px;
  --spacing-px-98: 98px;
  --spacing-px-99: 99px;
  --spacing-px-100: 100px;
  --spacing-px-101: 101px;
  --spacing-px-102: 102px;
  --spacing-px-103: 103px;
  --spacing-px-104: 104px;
  --spacing-px-105: 105px;
  --spacing-px-106: 106px;
  --spacing-px-107: 107px;
  --spacing-px-108: 108px;
  --spacing-px-109: 109px;
  --spacing-px-110: 110px;
  --spacing-px-111: 111px;
  --spacing-px-112: 112px;
  --spacing-px-113: 113px;
  --spacing-px-114: 114px;
  --spacing-px-115: 115px;
  --spacing-px-116: 116px;
  --spacing-px-117: 117px;
  --spacing-px-118: 118px;
  --spacing-px-119: 119px;
  --spacing-px-120: 120px;
  --spacing-px-121: 121px;
  --spacing-px-122: 122px;
  --spacing-px-123: 123px;
  --spacing-px-124: 124px;
  --spacing-px-125: 125px;
  --spacing-px-126: 126px;
  --spacing-px-127: 127px;
  --spacing-px-128: 128px;
  --spacing-px-129: 129px;
  --spacing-px-130: 130px;
  --spacing-px-131: 131px;
  --spacing-px-132: 132px;
  --spacing-px-133: 133px;
  --spacing-px-134: 134px;
  --spacing-px-135: 135px;
  --spacing-px-136: 136px;
  --spacing-px-137: 137px;
  --spacing-px-138: 138px;
  --spacing-px-139: 139px;
  --spacing-px-140: 140px;
  --spacing-px-141: 141px;
  --spacing-px-142: 142px;
  --spacing-px-143: 143px;
  --spacing-px-144: 144px;
  --spacing-px-145: 145px;
  --spacing-px-146: 146px;
  --spacing-px-147: 147px;
  --spacing-px-148: 148px;
  --spacing-px-149: 149px;
  --spacing-px-150: 150px;
  --spacing-px-151: 151px;
  --spacing-px-152: 152px;
  --spacing-px-153: 153px;
  --spacing-px-154: 154px;
  --spacing-px-155: 155px;
  --spacing-px-156: 156px;
  --spacing-px-157: 157px;
  --spacing-px-158: 158px;
  --spacing-px-159: 159px;
  --spacing-px-160: 160px;
  --spacing-px-161: 161px;
  --spacing-px-162: 162px;
  --spacing-px-163: 163px;
  --spacing-px-164: 164px;
  --spacing-px-165: 165px;
  --spacing-px-166: 166px;
  --spacing-px-167: 167px;
  --spacing-px-168: 168px;
  --spacing-px-169: 169px;
  --spacing-px-170: 170px;
  --spacing-px-171: 171px;
  --spacing-px-172: 172px;
  --spacing-px-173: 173px;
  --spacing-px-174: 174px;
  --spacing-px-175: 175px;
  --spacing-px-176: 176px;
  --spacing-px-177: 177px;
  --spacing-px-178: 178px;
  --spacing-px-179: 179px;
  --spacing-px-180: 180px;
  --spacing-px-181: 181px;
  --spacing-px-182: 182px;
  --spacing-px-183: 183px;
  --spacing-px-184: 184px;
  --spacing-px-185: 185px;
  --spacing-px-186: 186px;
  --spacing-px-187: 187px;
  --spacing-px-188: 188px;
  --spacing-px-189: 189px;
  --spacing-px-190: 190px;
  --spacing-px-191: 191px;
  --spacing-px-192: 192px;
  --spacing-px-193: 193px;
  --spacing-px-194: 194px;
  --spacing-px-195: 195px;
  --spacing-px-196: 196px;
  --spacing-px-197: 197px;
  --spacing-px-198: 198px;
  --spacing-px-199: 199px;
  --spacing-px-200: 200px;
  --spacing-px-201: 201px;
  --spacing-px-202: 202px;
  --spacing-px-203: 203px;
  --spacing-px-204: 204px;
  --spacing-px-205: 205px;
  --spacing-px-206: 206px;
  --spacing-px-207: 207px;
  --spacing-px-208: 208px;
  --spacing-px-209: 209px;
  --spacing-px-210: 210px;
  --spacing-px-211: 211px;
  --spacing-px-212: 212px;
  --spacing-px-213: 213px;
  --spacing-px-214: 214px;
  --spacing-px-215: 215px;
  --spacing-px-216: 216px;
  --spacing-px-217: 217px;
  --spacing-px-218: 218px;
  --spacing-px-219: 219px;
  --spacing-px-220: 220px;
  --spacing-px-221: 221px;
  --spacing-px-222: 222px;
  --spacing-px-223: 223px;
  --spacing-px-224: 224px;
  --spacing-px-225: 225px;
  --spacing-px-226: 226px;
  --spacing-px-227: 227px;
  --spacing-px-228: 228px;
  --spacing-px-229: 229px;
  --spacing-px-230: 230px;
  --spacing-px-231: 231px;
  --spacing-px-232: 232px;
  --spacing-px-233: 233px;
  --spacing-px-234: 234px;
  --spacing-px-235: 235px;
  --spacing-px-236: 236px;
  --spacing-px-237: 237px;
  --spacing-px-238: 238px;
  --spacing-px-239: 239px;
  --spacing-px-240: 240px;
  --spacing-px-241: 241px;
  --spacing-px-242: 242px;
  --spacing-px-243: 243px;
  --spacing-px-244: 244px;
  --spacing-px-245: 245px;
  --spacing-px-246: 246px;
  --spacing-px-247: 247px;
  --spacing-px-248: 248px;
  --spacing-px-249: 249px;
  --spacing-px-250: 250px;
  --spacing-px-251: 251px;
  --spacing-px-252: 252px;
  --spacing-px-253: 253px;
  --spacing-px-254: 254px;
  --spacing-px-255: 255px;
  --spacing-px-256: 256px;
  --spacing-px-257: 257px;
  --spacing-px-258: 258px;
  --spacing-px-259: 259px;
  --spacing-px-260: 260px;
  --spacing-px-261: 261px;
  --spacing-px-262: 262px;
  --spacing-px-263: 263px;
  --spacing-px-264: 264px;
  --spacing-px-265: 265px;
  --spacing-px-266: 266px;
  --spacing-px-267: 267px;
  --spacing-px-268: 268px;
  --spacing-px-269: 269px;
  --spacing-px-270: 270px;
  --spacing-px-271: 271px;
  --spacing-px-272: 272px;
  --spacing-px-273: 273px;
  --spacing-px-274: 274px;
  --spacing-px-275: 275px;
  --spacing-px-276: 276px;
  --spacing-px-277: 277px;
  --spacing-px-278: 278px;
  --spacing-px-279: 279px;
  --spacing-px-280: 280px;
  --spacing-px-281: 281px;
  --spacing-px-282: 282px;
  --spacing-px-283: 283px;
  --spacing-px-284: 284px;
  --spacing-px-285: 285px;
  --spacing-px-286: 286px;
  --spacing-px-287: 287px;
  --spacing-px-288: 288px;
  --spacing-px-289: 289px;
  --spacing-px-290: 290px;
  --spacing-px-291: 291px;
  --spacing-px-292: 292px;
  --spacing-px-293: 293px;
  --spacing-px-294: 294px;
  --spacing-px-295: 295px;
  --spacing-px-296: 296px;
  --spacing-px-297: 297px;
  --spacing-px-298: 298px;
  --spacing-px-299: 299px;
  --spacing-px-300: 300px;
}
/* ==================== NEGATIVE PX ==================== */
:root {
  --spacing-px-neg-1: -1px;
  --spacing-px-neg-2: -2px;
  --spacing-px-neg-3: -3px;
  --spacing-px-neg-4: -4px;
  --spacing-px-neg-5: -5px;
  --spacing-px-neg-6: -6px;
  --spacing-px-neg-7: -7px;
  --spacing-px-neg-8: -8px;
  --spacing-px-neg-9: -9px;
  --spacing-px-neg-10: -10px;
  --spacing-px-neg-11: -11px;
  --spacing-px-neg-12: -12px;
  --spacing-px-neg-13: -13px;
  --spacing-px-neg-14: -14px;
  --spacing-px-neg-15: -15px;
  --spacing-px-neg-16: -16px;
  --spacing-px-neg-17: -17px;
  --spacing-px-neg-18: -18px;
  --spacing-px-neg-19: -19px;
  --spacing-px-neg-20: -20px;
  --spacing-px-neg-21: -21px;
  --spacing-px-neg-22: -22px;
  --spacing-px-neg-23: -23px;
  --spacing-px-neg-24: -24px;
  --spacing-px-neg-25: -25px;
  --spacing-px-neg-26: -26px;
  --spacing-px-neg-27: -27px;
  --spacing-px-neg-28: -28px;
  --spacing-px-neg-29: -29px;
  --spacing-px-neg-30: -30px;
  --spacing-px-neg-31: -31px;
  --spacing-px-neg-32: -32px;
  --spacing-px-neg-33: -33px;
  --spacing-px-neg-34: -34px;
  --spacing-px-neg-35: -35px;
  --spacing-px-neg-36: -36px;
  --spacing-px-neg-37: -37px;
  --spacing-px-neg-38: -38px;
  --spacing-px-neg-39: -39px;
  --spacing-px-neg-40: -40px;
  --spacing-px-neg-41: -41px;
  --spacing-px-neg-42: -42px;
  --spacing-px-neg-43: -43px;
  --spacing-px-neg-44: -44px;
  --spacing-px-neg-45: -45px;
  --spacing-px-neg-46: -46px;
  --spacing-px-neg-47: -47px;
  --spacing-px-neg-48: -48px;
  --spacing-px-neg-49: -49px;
  --spacing-px-neg-50: -50px;
  --spacing-px-neg-51: -51px;
  --spacing-px-neg-52: -52px;
  --spacing-px-neg-53: -53px;
  --spacing-px-neg-54: -54px;
  --spacing-px-neg-55: -55px;
  --spacing-px-neg-56: -56px;
  --spacing-px-neg-57: -57px;
  --spacing-px-neg-58: -58px;
  --spacing-px-neg-59: -59px;
  --spacing-px-neg-60: -60px;
  --spacing-px-neg-61: -61px;
  --spacing-px-neg-62: -62px;
  --spacing-px-neg-63: -63px;
  --spacing-px-neg-64: -64px;
  --spacing-px-neg-65: -65px;
  --spacing-px-neg-66: -66px;
  --spacing-px-neg-67: -67px;
  --spacing-px-neg-68: -68px;
  --spacing-px-neg-69: -69px;
  --spacing-px-neg-70: -70px;
  --spacing-px-neg-71: -71px;
  --spacing-px-neg-72: -72px;
  --spacing-px-neg-73: -73px;
  --spacing-px-neg-74: -74px;
  --spacing-px-neg-75: -75px;
  --spacing-px-neg-76: -76px;
  --spacing-px-neg-77: -77px;
  --spacing-px-neg-78: -78px;
  --spacing-px-neg-79: -79px;
  --spacing-px-neg-80: -80px;
  --spacing-px-neg-81: -81px;
  --spacing-px-neg-82: -82px;
  --spacing-px-neg-83: -83px;
  --spacing-px-neg-84: -84px;
  --spacing-px-neg-85: -85px;
  --spacing-px-neg-86: -86px;
  --spacing-px-neg-87: -87px;
  --spacing-px-neg-88: -88px;
  --spacing-px-neg-89: -89px;
  --spacing-px-neg-90: -90px;
  --spacing-px-neg-91: -91px;
  --spacing-px-neg-92: -92px;
  --spacing-px-neg-93: -93px;
  --spacing-px-neg-94: -94px;
  --spacing-px-neg-95: -95px;
  --spacing-px-neg-96: -96px;
  --spacing-px-neg-97: -97px;
  --spacing-px-neg-98: -98px;
  --spacing-px-neg-99: -99px;
  --spacing-px-neg-100: -100px;
  --spacing-px-neg-101: -101px;
  --spacing-px-neg-102: -102px;
  --spacing-px-neg-103: -103px;
  --spacing-px-neg-104: -104px;
  --spacing-px-neg-105: -105px;
  --spacing-px-neg-106: -106px;
  --spacing-px-neg-107: -107px;
  --spacing-px-neg-108: -108px;
  --spacing-px-neg-109: -109px;
  --spacing-px-neg-110: -110px;
  --spacing-px-neg-111: -111px;
  --spacing-px-neg-112: -112px;
  --spacing-px-neg-113: -113px;
  --spacing-px-neg-114: -114px;
  --spacing-px-neg-115: -115px;
  --spacing-px-neg-116: -116px;
  --spacing-px-neg-117: -117px;
  --spacing-px-neg-118: -118px;
  --spacing-px-neg-119: -119px;
  --spacing-px-neg-120: -120px;
  --spacing-px-neg-121: -121px;
  --spacing-px-neg-122: -122px;
  --spacing-px-neg-123: -123px;
  --spacing-px-neg-124: -124px;
  --spacing-px-neg-125: -125px;
  --spacing-px-neg-126: -126px;
  --spacing-px-neg-127: -127px;
  --spacing-px-neg-128: -128px;
  --spacing-px-neg-129: -129px;
  --spacing-px-neg-130: -130px;
  --spacing-px-neg-131: -131px;
  --spacing-px-neg-132: -132px;
  --spacing-px-neg-133: -133px;
  --spacing-px-neg-134: -134px;
  --spacing-px-neg-135: -135px;
  --spacing-px-neg-136: -136px;
  --spacing-px-neg-137: -137px;
  --spacing-px-neg-138: -138px;
  --spacing-px-neg-139: -139px;
  --spacing-px-neg-140: -140px;
  --spacing-px-neg-141: -141px;
  --spacing-px-neg-142: -142px;
  --spacing-px-neg-143: -143px;
  --spacing-px-neg-144: -144px;
  --spacing-px-neg-145: -145px;
  --spacing-px-neg-146: -146px;
  --spacing-px-neg-147: -147px;
  --spacing-px-neg-148: -148px;
  --spacing-px-neg-149: -149px;
  --spacing-px-neg-150: -150px;
  --spacing-px-neg-151: -151px;
  --spacing-px-neg-152: -152px;
  --spacing-px-neg-153: -153px;
  --spacing-px-neg-154: -154px;
  --spacing-px-neg-155: -155px;
  --spacing-px-neg-156: -156px;
  --spacing-px-neg-157: -157px;
  --spacing-px-neg-158: -158px;
  --spacing-px-neg-159: -159px;
  --spacing-px-neg-160: -160px;
  --spacing-px-neg-161: -161px;
  --spacing-px-neg-162: -162px;
  --spacing-px-neg-163: -163px;
  --spacing-px-neg-164: -164px;
  --spacing-px-neg-165: -165px;
  --spacing-px-neg-166: -166px;
  --spacing-px-neg-167: -167px;
  --spacing-px-neg-168: -168px;
  --spacing-px-neg-169: -169px;
  --spacing-px-neg-170: -170px;
  --spacing-px-neg-171: -171px;
  --spacing-px-neg-172: -172px;
  --spacing-px-neg-173: -173px;
  --spacing-px-neg-174: -174px;
  --spacing-px-neg-175: -175px;
  --spacing-px-neg-176: -176px;
  --spacing-px-neg-177: -177px;
  --spacing-px-neg-178: -178px;
  --spacing-px-neg-179: -179px;
  --spacing-px-neg-180: -180px;
  --spacing-px-neg-181: -181px;
  --spacing-px-neg-182: -182px;
  --spacing-px-neg-183: -183px;
  --spacing-px-neg-184: -184px;
  --spacing-px-neg-185: -185px;
  --spacing-px-neg-186: -186px;
  --spacing-px-neg-187: -187px;
  --spacing-px-neg-188: -188px;
  --spacing-px-neg-189: -189px;
  --spacing-px-neg-190: -190px;
  --spacing-px-neg-191: -191px;
  --spacing-px-neg-192: -192px;
  --spacing-px-neg-193: -193px;
  --spacing-px-neg-194: -194px;
  --spacing-px-neg-195: -195px;
  --spacing-px-neg-196: -196px;
  --spacing-px-neg-197: -197px;
  --spacing-px-neg-198: -198px;
  --spacing-px-neg-199: -199px;
  --spacing-px-neg-200: -200px;
  --spacing-px-neg-201: -201px;
  --spacing-px-neg-202: -202px;
  --spacing-px-neg-203: -203px;
  --spacing-px-neg-204: -204px;
  --spacing-px-neg-205: -205px;
  --spacing-px-neg-206: -206px;
  --spacing-px-neg-207: -207px;
  --spacing-px-neg-208: -208px;
  --spacing-px-neg-209: -209px;
  --spacing-px-neg-210: -210px;
  --spacing-px-neg-211: -211px;
  --spacing-px-neg-212: -212px;
  --spacing-px-neg-213: -213px;
  --spacing-px-neg-214: -214px;
  --spacing-px-neg-215: -215px;
  --spacing-px-neg-216: -216px;
  --spacing-px-neg-217: -217px;
  --spacing-px-neg-218: -218px;
  --spacing-px-neg-219: -219px;
  --spacing-px-neg-220: -220px;
  --spacing-px-neg-221: -221px;
  --spacing-px-neg-222: -222px;
  --spacing-px-neg-223: -223px;
  --spacing-px-neg-224: -224px;
  --spacing-px-neg-225: -225px;
  --spacing-px-neg-226: -226px;
  --spacing-px-neg-227: -227px;
  --spacing-px-neg-228: -228px;
  --spacing-px-neg-229: -229px;
  --spacing-px-neg-230: -230px;
  --spacing-px-neg-231: -231px;
  --spacing-px-neg-232: -232px;
  --spacing-px-neg-233: -233px;
  --spacing-px-neg-234: -234px;
  --spacing-px-neg-235: -235px;
  --spacing-px-neg-236: -236px;
  --spacing-px-neg-237: -237px;
  --spacing-px-neg-238: -238px;
  --spacing-px-neg-239: -239px;
  --spacing-px-neg-240: -240px;
  --spacing-px-neg-241: -241px;
  --spacing-px-neg-242: -242px;
  --spacing-px-neg-243: -243px;
  --spacing-px-neg-244: -244px;
  --spacing-px-neg-245: -245px;
  --spacing-px-neg-246: -246px;
  --spacing-px-neg-247: -247px;
  --spacing-px-neg-248: -248px;
  --spacing-px-neg-249: -249px;
  --spacing-px-neg-250: -250px;
  --spacing-px-neg-251: -251px;
  --spacing-px-neg-252: -252px;
  --spacing-px-neg-253: -253px;
  --spacing-px-neg-254: -254px;
  --spacing-px-neg-255: -255px;
  --spacing-px-neg-256: -256px;
  --spacing-px-neg-257: -257px;
  --spacing-px-neg-258: -258px;
  --spacing-px-neg-259: -259px;
  --spacing-px-neg-260: -260px;
  --spacing-px-neg-261: -261px;
  --spacing-px-neg-262: -262px;
  --spacing-px-neg-263: -263px;
  --spacing-px-neg-264: -264px;
  --spacing-px-neg-265: -265px;
  --spacing-px-neg-266: -266px;
  --spacing-px-neg-267: -267px;
  --spacing-px-neg-268: -268px;
  --spacing-px-neg-269: -269px;
  --spacing-px-neg-270: -270px;
  --spacing-px-neg-271: -271px;
  --spacing-px-neg-272: -272px;
  --spacing-px-neg-273: -273px;
  --spacing-px-neg-274: -274px;
  --spacing-px-neg-275: -275px;
  --spacing-px-neg-276: -276px;
  --spacing-px-neg-277: -277px;
  --spacing-px-neg-278: -278px;
  --spacing-px-neg-279: -279px;
  --spacing-px-neg-280: -280px;
  --spacing-px-neg-281: -281px;
  --spacing-px-neg-282: -282px;
  --spacing-px-neg-283: -283px;
  --spacing-px-neg-284: -284px;
  --spacing-px-neg-285: -285px;
  --spacing-px-neg-286: -286px;
  --spacing-px-neg-287: -287px;
  --spacing-px-neg-288: -288px;
  --spacing-px-neg-289: -289px;
  --spacing-px-neg-290: -290px;
  --spacing-px-neg-291: -291px;
  --spacing-px-neg-292: -292px;
  --spacing-px-neg-293: -293px;
  --spacing-px-neg-294: -294px;
  --spacing-px-neg-295: -295px;
  --spacing-px-neg-296: -296px;
  --spacing-px-neg-297: -297px;
  --spacing-px-neg-298: -298px;
  --spacing-px-neg-299: -299px;
  --spacing-px-neg-300: -300px;
}
/* ==================== PLUS PERCENTAGES ==================== */
:root {
  --proc-0: 0%;
  --proc-1: 1%;
  --proc-2: 2%;
  --proc-3: 3%;
  --proc-4: 4%;
  --proc-5: 5%;
  --proc-6: 6%;
  --proc-7: 7%;
  --proc-8: 8%;
  --proc-9: 9%;
  --proc-10: 10%;
  --proc-11: 11%;
  --proc-12: 12%;
  --proc-13: 13%;
  --proc-14: 14%;
  --proc-15: 15%;
  --proc-16: 16%;
  --proc-17: 17%;
  --proc-18: 18%;
  --proc-19: 19%;
  --proc-20: 20%;
  --proc-21: 21%;
  --proc-22: 22%;
  --proc-23: 23%;
  --proc-24: 24%;
  --proc-25: 25%;
  --proc-26: 26%;
  --proc-27: 27%;
  --proc-28: 28%;
  --proc-29: 29%;
  --proc-30: 30%;
  --proc-31: 31%;
  --proc-32: 32%;
  --proc-33: 33%;
  --proc-34: 34%;
  --proc-35: 35%;
  --proc-36: 36%;
  --proc-37: 37%;
  --proc-38: 38%;
  --proc-39: 39%;
  --proc-40: 40%;
  --proc-41: 41%;
  --proc-42: 42%;
  --proc-43: 43%;
  --proc-44: 44%;
  --proc-45: 45%;
  --proc-46: 46%;
  --proc-47: 47%;
  --proc-48: 48%;
  --proc-49: 49%;
  --proc-50: 50%;
  --proc-51: 51%;
  --proc-52: 52%;
  --proc-53: 53%;
  --proc-54: 54%;
  --proc-55: 55%;
  --proc-56: 56%;
  --proc-57: 57%;
  --proc-58: 58%;
  --proc-59: 59%;
  --proc-60: 60%;
  --proc-61: 61%;
  --proc-62: 62%;
  --proc-63: 63%;
  --proc-64: 64%;
  --proc-65: 65%;
  --proc-66: 66%;
  --proc-67: 67%;
  --proc-68: 68%;
  --proc-69: 69%;
  --proc-70: 70%;
  --proc-71: 71%;
  --proc-72: 72%;
  --proc-73: 73%;
  --proc-74: 74%;
  --proc-75: 75%;
  --proc-76: 76%;
  --proc-77: 77%;
  --proc-78: 78%;
  --proc-79: 79%;
  --proc-80: 80%;
  --proc-81: 81%;
  --proc-82: 82%;
  --proc-83: 83%;
  --proc-84: 84%;
  --proc-85: 85%;
  --proc-86: 86%;
  --proc-87: 87%;
  --proc-88: 88%;
  --proc-89: 89%;
  --proc-90: 90%;
  --proc-91: 91%;
  --proc-92: 92%;
  --proc-93: 93%;
  --proc-94: 94%;
  --proc-95: 95%;
  --proc-96: 96%;
  --proc-97: 97%;
  --proc-98: 98%;
  --proc-99: 99%;
  --proc-100: 100%;
  --proc-101: 101%;
  --proc-102: 102%;
  --proc-103: 103%;
  --proc-104: 104%;
  --proc-105: 105%;
  --proc-106: 106%;
  --proc-107: 107%;
  --proc-108: 108%;
  --proc-109: 109%;
  --proc-110: 110%;
  --proc-111: 111%;
  --proc-112: 112%;
  --proc-113: 113%;
  --proc-114: 114%;
  --proc-115: 115%;
  --proc-116: 116%;
  --proc-117: 117%;
  --proc-118: 118%;
  --proc-119: 119%;
  --proc-120: 120%;
  --proc-121: 121%;
  --proc-122: 122%;
  --proc-123: 123%;
  --proc-124: 124%;
  --proc-125: 125%;
  --proc-126: 126%;
  --proc-127: 127%;
  --proc-128: 128%;
  --proc-129: 129%;
  --proc-130: 130%;
  --proc-131: 131%;
  --proc-132: 132%;
  --proc-133: 133%;
  --proc-134: 134%;
  --proc-135: 135%;
  --proc-136: 136%;
  --proc-137: 137%;
  --proc-138: 138%;
  --proc-139: 139%;
  --proc-140: 140%;
  --proc-141: 141%;
  --proc-142: 142%;
  --proc-143: 143%;
  --proc-144: 144%;
  --proc-145: 145%;
  --proc-146: 146%;
  --proc-147: 147%;
  --proc-148: 148%;
  --proc-149: 149%;
  --proc-150: 150%;
}
/* ==================== NEGATIVE PERCENTAGES ==================== */
:root {
  --proc-neg-1: -1%;
  --proc-neg-2: -2%;
  --proc-neg-3: -3%;
  --proc-neg-4: -4%;
  --proc-neg-5: -5%;
  --proc-neg-6: -6%;
  --proc-neg-7: -7%;
  --proc-neg-8: -8%;
  --proc-neg-9: -9%;
  --proc-neg-10: -10%;
  --proc-neg-11: -11%;
  --proc-neg-12: -12%;
  --proc-neg-13: -13%;
  --proc-neg-14: -14%;
  --proc-neg-15: -15%;
  --proc-neg-16: -16%;
  --proc-neg-17: -17%;
  --proc-neg-18: -18%;
  --proc-neg-19: -19%;
  --proc-neg-20: -20%;
  --proc-neg-21: -21%;
  --proc-neg-22: -22%;
  --proc-neg-23: -23%;
  --proc-neg-24: -24%;
  --proc-neg-25: -25%;
  --proc-neg-26: -26%;
  --proc-neg-27: -27%;
  --proc-neg-28: -28%;
  --proc-neg-29: -29%;
  --proc-neg-30: -30%;
  --proc-neg-31: -31%;
  --proc-neg-32: -32%;
  --proc-neg-33: -33%;
  --proc-neg-34: -34%;
  --proc-neg-35: -35%;
  --proc-neg-36: -36%;
  --proc-neg-37: -37%;
  --proc-neg-38: -38%;
  --proc-neg-39: -39%;
  --proc-neg-40: -40%;
  --proc-neg-41: -41%;
  --proc-neg-42: -42%;
  --proc-neg-43: -43%;
  --proc-neg-44: -44%;
  --proc-neg-45: -45%;
  --proc-neg-46: -46%;
  --proc-neg-47: -47%;
  --proc-neg-48: -48%;
  --proc-neg-49: -49%;
  --proc-neg-50: -50%;
  --proc-neg-51: -51%;
  --proc-neg-52: -52%;
  --proc-neg-53: -53%;
  --proc-neg-54: -54%;
  --proc-neg-55: -55%;
  --proc-neg-56: -56%;
  --proc-neg-57: -57%;
  --proc-neg-58: -58%;
  --proc-neg-59: -59%;
  --proc-neg-60: -60%;
  --proc-neg-61: -61%;
  --proc-neg-62: -62%;
  --proc-neg-63: -63%;
  --proc-neg-64: -64%;
  --proc-neg-65: -65%;
  --proc-neg-66: -66%;
  --proc-neg-67: -67%;
  --proc-neg-68: -68%;
  --proc-neg-69: -69%;
  --proc-neg-70: -70%;
  --proc-neg-71: -71%;
  --proc-neg-72: -72%;
  --proc-neg-73: -73%;
  --proc-neg-74: -74%;
  --proc-neg-75: -75%;
  --proc-neg-76: -76%;
  --proc-neg-77: -77%;
  --proc-neg-78: -78%;
  --proc-neg-79: -79%;
  --proc-neg-80: -80%;
  --proc-neg-81: -81%;
  --proc-neg-82: -82%;
  --proc-neg-83: -83%;
  --proc-neg-84: -84%;
  --proc-neg-85: -85%;
  --proc-neg-86: -86%;
  --proc-neg-87: -87%;
  --proc-neg-88: -88%;
  --proc-neg-89: -89%;
  --proc-neg-90: -90%;
  --proc-neg-91: -91%;
  --proc-neg-92: -92%;
  --proc-neg-93: -93%;
  --proc-neg-94: -94%;
  --proc-neg-95: -95%;
  --proc-neg-96: -96%;
  --proc-neg-97: -97%;
  --proc-neg-98: -98%;
  --proc-neg-99: -99%;
  --proc-neg-100: -100%;
  --proc-neg-101: -101%;
  --proc-neg-102: -102%;
  --proc-neg-103: -103%;
  --proc-neg-104: -104%;
  --proc-neg-105: -105%;
  --proc-neg-106: -106%;
  --proc-neg-107: -107%;
  --proc-neg-108: -108%;
  --proc-neg-109: -109%;
  --proc-neg-110: -110%;
  --proc-neg-111: -111%;
  --proc-neg-112: -112%;
  --proc-neg-113: -113%;
  --proc-neg-114: -114%;
  --proc-neg-115: -115%;
  --proc-neg-116: -116%;
  --proc-neg-117: -117%;
  --proc-neg-118: -118%;
  --proc-neg-119: -119%;
  --proc-neg-120: -120%;
  --proc-neg-121: -121%;
  --proc-neg-122: -122%;
  --proc-neg-123: -123%;
  --proc-neg-124: -124%;
  --proc-neg-125: -125%;
  --proc-neg-126: -126%;
  --proc-neg-127: -127%;
  --proc-neg-128: -128%;
  --proc-neg-129: -129%;
  --proc-neg-130: -130%;
  --proc-neg-131: -131%;
  --proc-neg-132: -132%;
  --proc-neg-133: -133%;
  --proc-neg-134: -134%;
  --proc-neg-135: -135%;
  --proc-neg-136: -136%;
  --proc-neg-137: -137%;
  --proc-neg-138: -138%;
  --proc-neg-139: -139%;
  --proc-neg-140: -140%;
  --proc-neg-141: -141%;
  --proc-neg-142: -142%;
  --proc-neg-143: -143%;
  --proc-neg-144: -144%;
  --proc-neg-145: -145%;
  --proc-neg-146: -146%;
  --proc-neg-147: -147%;
  --proc-neg-148: -148%;
  --proc-neg-149: -149%;
  --proc-neg-150: -150%;
}
