.features._green {
  justify-content: space-between;
}

.features__item._green {
  background-color: var(--color49a349);
  border-radius: var(--spacing-px-30);
  padding: var(--spacing-px-30);
  max-width: 336px;
  width: var(--proc-100);
  box-shadow: var(--boxShadow-px) var(--boxShadow_1);
  flex-direction: column;
}

.features__item._green .features__item-image {
  max-width: var(--spacing-px-120);
  max-height: var(--spacing-px-120);
  width: var(--spacing-px-120);
  height: var(--spacing-px-120);
  margin-left: var(--auto);
}

.features__item._green span {
  text-transform: uppercase;
  font-family: var(--second-family);
  line-height: 1.1;
  font-style: normal;
  text-align: left;
  margin-top: var(--auto);
  word-break: break-word;
  white-space: break-spaces;
  hyphens: auto;
}

